<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<string>1.0</string>
	<key>Name</key>
	<string>Crossword</string>
	<key>Pages</key>
	<array>
		<string>Crossword.playgroundpage</string>
		<string>Variables.playgroundpage</string>
		<string>Trie.playgroundpage</string>
		<string>Full Source.playgroundpage</string>
	</array>
</dict>
</plist>
